{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container mt-4">
        <div class="row">
            <aside class="col-md-3">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item active dashboard" href="#"> DASHBOARD </a>
                    <a class="list-group-item" href="#"> Employees </a>
                    <a class="list-group-item" href="#"> Companies </a>
                    <a class="list-group-item" href="#">Contracts </a>
                </ul>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span
                        class="text">Log out</span> </a>
                <!--   SIDEBAR .//END   -->
            </aside>
        </div> <!-- row.// -->
    </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}