{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <h3>Update Employee</h3>
    <form action="" method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <hr>
        <table class="table">
            <h3>Contract</h3>
            {{ contractemployee.management_form }}

            {% for form in contractemployee.forms %}
            {% if forloop.first %}
            <thead>
                <tr>
                    {% for field in form.visible_fields %}
                    <th>{{ field.label|capfirst }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% endif %}
            <tr class="{% cycle row1 row2 %} formset_row">
                {% for field in form.visible_fields %}
                <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <hr>
        <table class="table">
            <h3>Address</h3>
            {{ addressemployee.management_form }}

            {% for form in addressemployee.forms %}
            {% if forloop.first %}
            <thead>
                <tr>
                    {% for field in form.visible_fields %}
                    <th>{{ field.label|capfirst }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% endif %}
            <tr class="{% cycle row1 row2 %} formset_row2">
                {% for field in form.visible_fields %}
                <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <input type="submit" class="btn btn-primary btn-sm" value="Submit" /> <a href="{% url 'employee_list' %}">back
            to the list</a>
    </form>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<script src="{% static 'js/formset.js' %}"></script>
<script type="text/javascript">
    function datepick() {
        $(".startDate").datepicker({
            numberOfMonths: 1,
            
            onSelect: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate() + 1);
                $(".endDate").datepicker("option", "minDate", dt);
            }
        });
        $(".endDate").datepicker({
            numberOfMonths: 1,

            onSelect: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate() - 1);
                $(".startDate").datepicker("option", "maxDate", dt);
            }
        });
    };

    $('.formset_row').formset({
        addText: 'add contract',
        deleteText: 'remove',
        prefix: '{{contractemployee.prefix}}',
        added: datepick
    });
</script>
<script type="text/javascript">
    $('.formset_row2').formset({
        addText: 'add address',
        deleteText: 'remove',
        prefix: '{{addressemployee.prefix}}'
    });
</script>

<script src="{% static 'js/datepicker.js' %}" type="text/javascript">

</script>

<script type="text/javascript" src="{% static 'js/monthyear.js' %}"></script>
<link type="text/css" src="{% static 'css/monthyear.css' %}" rel="stylesheet" />

<script type="text/javascript"></script>
{% endblock%}