{% extends "base.html" %}
{% block content %}
<a class="btn btn-info right mt-1" href="{% url 'new_attendance' %}"> Add New </a>
<!-- <a class="btn btn-info left mt-1" href="{% url 'employee_attendance' %}?{{ prev_month }}"> Previous Month </a>
<h3 class="text-center">{{month}}-{{year}}</h3>
<a class="btn btn-info float-right mt-1" href="{% url 'employee_attendance' %}?{{ next_month }}"> Next Month </a> -->
<h3 class="text-center">{{month}}-{{year}}</h3>
<table id="datatable-responsive" class="datatable-responsive table table-striped table-bordered dt-responsive nowrap"
    cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Employee Name</th>
            {% for day in days%}{% if day > 0%}<th>{{day}}</th> {% endif %}
            {%endfor%}
        </tr>
    </thead>
    <tbody>
        {% for details in get_all_details %}
        <tr>
            <td>{{ details.employee_id}}</td>

            {% for day in days %}
            {% if day == details.date.day %}
            {% if day > 0%}
            <!-- <td>{{ details.status }}</td> -->
            <td><a href="{% url 'edit_attendance' details.id %}">{{ details.status }}</td>
            {% endif %}
            {% else %}
            <td></td>
            {% endif %}
            {%endfor%}
        </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock content %}