
def attendance_report(request):
  context = {}
  form = AttendanceForm(request.POST)
  if request.method == 'POST':
    if request.POST.get('month'):
        grab_data_passed = request.POST.get('month')
        import pdb; pdb.set_trace()
        get_details = EmployeeAttendance.objects.filter(date__month=grab_data_passed)
        z=0
        range=9
        days=[]
        if z< range:
            dats = EmployeeAttendance.objects.filter(date__month=grab_data_passed)[z].date
            z+=1
            y=dats.month
            x=dats.year
            cal = calendar.TextCalendar(calendar.WEDNESDAY)
            for day in cal.itermonthdays(x, y):
               days.append(day) 
        context['days']=days
        employee = EmployeeAttendance.objects.all()
        for i in employee:
            x=i.id
            get_details = EmployeeAttendance.objects.filter(employee_id__employee=x, date__month=grab_data_passed)
        context['get_details']=get_details  
        return render(request, 'employee/employee_attendance.html', context)
  context={'form':form}
  return render(request, 'employee/attendance_form.html', context)



  # class EmployeeAttendanceListView(MonthArchiveView):
  #     queryset = EmployeeAttendance.objects.all()
  #     date_field = "date"
  #     date_list_period = 'month'
  #     allow_future = False
  #     template_name = 'employee/employee_attendance.html'
  
  
  #     def get(self, request, *args, **kwargs):
  #       self.date_list, self.object_list, extra_context = self.get_dated_items()
  #       context = self.get_context_data(
  #         object_list=self.object_list,
  #         date_list=self.date_list,
  #         **extra_context
  
  #     )
      
  #     #   import pdb; pdb.set_trace()
  #       return self.render_to_response(context)
  
  
  #     def get_month(self):
  #         try:
  #             month = super(EmployeeAttendanceListView, self).get_month()
  #         except Http404:
  #             month = now().strftime(self.get_month_format())
  
  #         return month
  
  #     def get_year(self):
  #         try:
  #             year = super(EmployeeAttendanceListView, self).get_year()
  #         except Http404:
  #             year = now().strftime(self.get_year_format())
  
  #         return year
  
  
  # class EmployeeAttendanceListView(YearMixin, MonthMixin, BaseDateListView):
  #     """
  #     List of objects published in a given month.
  #     """
  #     date_list_period = 'day'
  
  #     def get_dated_items(self):
  #         """
  #         Return (date_list, items, extra_context) for this request.
  #         """
  #         year = self.get_year()
  #         month = self.get_month()
  
  #         date_field = self.get_date_field()
  #         date = _date_from_string(year, self.get_year_format(),
  #                                  month, self.get_month_format())
  
  #         since = self._make_date_lookup_arg(date)
  #         until = self._make_date_lookup_arg(self._get_next_month(date))
  #         lookup_kwargs = {
  #             '%s__gte' % date_field: since,
  #             '%s__lt' % date_field: until,
  #         }
  
  #         qs = self.get_dated_queryset(**lookup_kwargs)
  #         date_list = self.get_date_list(qs)
  
  #         return (date_list, qs, {
  #             'month': date,
  #             'next_month': self.get_next_month(date),
  #             'previous_month': self.get_previous_month(date),
  #         })
  
  
      
  
  # def calendar(request, month, year):
     
  #     attendance = EmployeeAttendance.objects.group_by('employee_id').filter(
  #       date__year=year, date__month=month
  #     )
  #     cal = Calendar(attendance, year, month).formatmonth(year, month)
  #     return render(request,'employee/employee_attendance.html', {'calendar': mark_safe(cal)})
  
  # class CalendarView(generic.ListView):
  #     model = EmployeeAttendance
  #     template_name = 'employee/employee_attendance.html'
  #     allow_future = False
  #     queryset = EmployeeAttendance.objects.all()
  
  
  #     def get_context_data(self, **kwargs):
  #         context = super().get_context_data(**kwargs)
  #         d = get_date(self.request.GET.get('month', None))
  #         cal = Calendar(d.year, d.month)
  #         html_cal = cal.formatmonth(withyear=True)
  #         context['calendar'] = mark_safe(html_cal)
  #         context['prev_month'] = prev_month(d)
  #         context['next_month'] = next_month(d)
  #         # import pdb; pdb.set_trace()
  #         return context
  
  # def get_date(req_month):
  #     if req_month:
  #         year, month = (int(x) for x in req_month.split('-'))
  #         return date(year, month, day=1)
  #     return datetime.today()
  


  # def prev_month(y):
#     first = y.replace(day=1)
#     prev_month = first - timedelta(days=1)
#     month = 'month=' + str(prev_month.year) + '-' + str(prev_month.month)
#     return month

# def next_month(y):
#     days_in_month = calendar.monthrange(y.year, y.month)[1]
#     last = y.replace(day=days_in_month)
#     next_month = last + timedelta(days=1)
#     month = 'month=' + str(next_month.year) + '-' + str(next_month.month)
#     return month

# class EmployeeAttendanceView(ListView):
#     model = EmployeeAttendance
#     template_name = 'employee/employee_attendance.html'

#     # def get_date(req_month):
#     #    if req_month:
#     #       year, month = (int(x) for x in req_month.split('-'))
#     #       return date(year, month, day=1)
#     #    return datetime.today().month

#     def get(self, request, *args, **kwargs):
#       if get_date(self.request.GET.get('month', None)):
#         grab_data_passed = get_date(self.request.GET.get('month', None))
#         z=0
#         range=32
#         days=[]
#         if z< range:
#             # import pdb; pdb.set_trace()
#             dats = EmployeeAttendance.objects.filter(date__month=grab_data_passed)[z].date
#             days_name = dats.strftime('%A')
#             # import pdb; pdb.set_trace()
#             z+=1
#             y=dats.month
#             x=dats.year
#             cal = calendar.TextCalendar(calendar.WEDNESDAY)
#             for day in cal.itermonthdays(x, y):
#                 days.append(day)
#                 month=dats.strftime('%b')  
#         arg1 = set(days)
#         arg1.remove(0)
#         arg2 = list(arg1)
#         # day_name= ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday']
#         # day = datetime.strptime(date, '%d %m %Y').weekday()
#         # arg3 = day_name[day]
#         context= super(EmployeeAttendanceView, self).get_context_data()
#         context['days']= arg2
#         context['days_name']= days_name
#         context['month'] = month
#         context['year'] = x
#         # import pdb; pdb.set_trace()
#         get_all_details =EmployeeAttendance.objects.filter(date__month=grab_data_passed)
#         context['get_all_details']=get_all_details  
#         import pdb; pdb.set_trace()
#         return render(request, 'employee/employee_attendance.html', context)

# utils.py

# from calendar import HTMLCalendar
# from attendance.models import EmployeeAttendance




# # class Calendar(HTMLCalendar):

#     # def __init__(self, attendance, year=None, month=None):
#     #     self.attendance = self.group_by_day(attendance)
#     #     self.year = year
#     #     self.month = month
#     #     super(Calendar, self).__init__()
    
#     # def formatday(self, day, weekday):
#     #     # import pdb; pdb.set_trace()
#     #     if day != 0:
#     #         cssclass = self.cssclasses[weekday]
#     #         if date.today() == date(self.year, self.month, day):
#     #             cssclass += ' today'
#     #         if day in self.attendance:
#     #             cssclass += ' filled'
#     #             body = ['<table>']
#     #             for attendance in self.attendance[day]:
#     #                 body.append('<tr>')
#     #                 # body.append('<a href="%s">' % attendance.get_absolute_url())
#     #                 body.append(esc(attendance.status))
#     #                 body.append('</tr>')
#     #             body.append('</table>')
#     #             return self.day_cell(cssclass, '%d %s' % (day, ''.join(body)))
#     #         return self.day_cell(cssclass, day)
#     #     return self.day_cell('noday', '&nbsp;')

#     # def formatmonth(self, year, month):
#     #     self.year, self.month = year, month
#     #     return super(Calendar, self).formatmonth(year, month)

#     # def group_by_day(self, attendance):
#     #     field = lambda attendance: attendance.date.day
#     #     return dict(
#     #         [(day, list(items)) for day, items in groupby(attendance, field)]
#     #     )

#     # def day_cell(self, cssclass, body):
#     #     # import pdb; pdb.set_trace()
#     #     return '<td class="%s">%s</td>' % (cssclass, body)

#     # def get_context_data(self, **kwargs):
#     #     context = super(Calendar, self).get_context_data(**kwargs)
#     #     context['current_month'] = datetime.datetime.now().month
#     #     context['current_year'] = datetime.datetime.now().year
#     #     return context

# class Calendar(HTMLCalendar):
# 	def __init__(self, year=None, month=None):
# 		self.year = year
# 		self.month = month
# 		super(Calendar, self).__init__()

# 	def formatday(self, day, attendance):
# 		attendance_per_day = attendance.filter(date__day=day)
# 		d = ''
# 		for attend in attendance_per_day:
# 			d += f'<li> {attend.get_absolute_url} </li>'

# 		if day != 0:
# 			return f"<td><span class='date'>{day}</span><ul> {d} </ul></td>"
# 		return '<td></td>'

# 	def formatweek(self, theweek, attendance):
# 		week = ''
# 		for d, weekday in theweek:
# 			week += self.formatday(d, attendance)
# 		return f'<tr> {week} </tr>'

	
# 	def formatmonth(self, withyear=True):
# 		attendance = EmployeeAttendance.objects.filter(date__year=self.year, date__month=self.month)

# 		cal = f'<table border="0" cellpadding="0" cellspacing="0" class="calendar">'
# 		cal += f'{self.formatmonthname(self.year, self.month, withyear=withyear)}'
# 		cal += f'{self.formatweekheader()}'
# 		for week in self.monthdays2calendar(self.year, self.month):
# 			cal += f'{self.formatweek(week, attendance)}'
# 		return cal



$('#update_attendance').on('submit',function (e) {
    var form = $(this);
    // debugger
    $.ajax({
        url: form.attr("action"),
        method: 'post',
        dataType: 'json',
        data: form.serialize(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        success: function (response) {
            console.log(response);
            $('#datatable_responsive_attendance').html(response.data)
        }
    });
    return false;

});


def post(self,request, **kwargs):
        data =  dict()
        employee_attendance = EmployeeAttendance.objects.get(pk=kwargs.get('pk'))
        form = AttendanceForm(instance=employee_attendance, data=request.POST)
        if form.is_valid() and is_ajax(request=request):
            employee_attendance = form.save()
            data['employee_attendance'] = model_to_dict(employee_attendance)
        else:
            data['error'] =  "form is not valid!"
        return JsonResponse(data)





        <script type="text/javascript">
            $(function () {
        
                /* Functions */
        
                var loadForm = function () {
                    var btn = $(this);
                    // debugger
                    $.ajax({
                        url: btn.attr("href"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-book .modal-content").html("");
                            $("#modal-book").modal("show");
                        },
                        success: function (data) {
                            $("#modal-book .modal-content").html(data.html_form);
                        }
                    });
                    return false;
        
                };
                var saveForm = function () {
                    var form = $(this);
                    var form = $(this);
                    // debugger
                    $.ajax({
                        url: form.attr("action"),
                        method: 'post',
                        dataType: 'json',
                        data: form.serialize(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#datatable_responsive_attendance tbody").html(data.html_form);
                                $("#modal-book").modal("hide");
                            }
                            else {
                                $("#modal-book .modal-content").html(data.html_form);
                            }
                        }
                    });
                    return false;
        
                };
                $("#datatable_responsive_attendance").on("click", ".employee_attendance_url", loadForm);
                $("#modal-book").on("submit", "#update_attendance", saveForm);
            });
        </script>
        

        def post(self,request, **kwargs):
        employee_attendance = EmployeeAttendance.objects.get(pk=kwargs.get('pk'))
        if request.method == 'POST':
            form = AttendanceForm(instance=employee_attendance, data=request.POST)
        else:
            form = AttendanceForm(instance=employee_attendance)
        # import pdb; pdb.set_trace()
        return save_attendance_form(request, form, 'employee/attendance_update_form.html')

def is_ajax(request):
    return request.META.get('HTTP_X_REQUESTED_WITH') == 'XMLHttpRequest'    

def save_attendance_form(request, form, template_name):
    data = dict()
    if request.method == 'POST':
        if form.is_valid():
            form.save()
            data['form_is_valid'] = True
            books = EmployeeAttendance.objects.all()
            data['html_book_list'] = render_to_string('employee/employee_attendance.html', {
                'books': books
            })
        else:
            data['form_is_valid'] = False
    context = {'form': form}
    data['html_form'] = render_to_string('employee/attendance_update_form.html', context, request=request)
    return JsonResponse(data)



{% block extra_script %}
<script type="text/javascript">
    $(document).on('submit','#update_attendance',function(event){
        event.preventDefault();
        var form = $('#update_attendance');
        debugger
        $.ajax({
            url: form.attr("action"),
            method: 'post',
            dataType: 'json',
            data: form.serialize(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            success: function (response) {
                console.log(response);
                $('#update_attendance').html(response)
            }
        });
        return false;
    });
</script>
{% endblock %}

# cal = calendar.HTMLCalendar(calendar.MONDAY)
# for day in cal.monthdatescalendar(x, y):
#         # https://stackabuse.com/introduction-to-the-python-calendar-module/
#     days.append(day)
# days = sum(days, [])


<tbody>
    {% regroup get_all_details|dictsort:"employee_id" by employee_id as attendance_list %}
    {% for x in attendance_list %}
    <tr>
        <td>{{ x.grouper }}</td>
        <td>{{ x.list.0.employee }}</td>
        {% for day in days %}
        <td>
            {% for y in x.list %}
            {% if day == y.date %}
            <button class="btn sm success profile-btn" style="color:blue;" data-form-url="{% url 'edit_attendance' y.id %}" type="button"
                        name="button">{{ y.status }}</button>
            {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    {%endfor%}
</tbody>


def get(self,request, **kwargs):
    employee_attendance = EmployeeAttendance.objects.get(pk=kwargs.get('pk'))
    instance = AttendanceForm(instance=employee_attendance)
    if is_ajax(request=request) and self.request.method == "GET":
        html = render_to_string('employee/attendance_update_form.html', {'instance': instance})
        return HttpResponse(html, content_type="application/json")
    # import pdb; pdb.set_trace()
    return JsonResponse({"error": ""}, status=400)

def post(self,request, **kwargs):
    data =  dict()
    employee_attendance = EmployeeAttendance.objects.get(pk=kwargs.get('pk'))
    form = AttendanceUpdateForm(instance=employee_attendance, data=request.POST)
    if form.is_valid() and is_ajax(request=request):
        employee_attendance = form.save()
        data['employee_attendance'] = model_to_dict(employee_attendance)
    else:
        data['error'] =  "form is not valid!"
    # import pdb; pdb.set_trace()
    return JsonResponse(data)

def dispatch(self, *args, **kwargs):
    self.item_id = kwargs.get('pk')
    return super(EmployeeAttendanceUpdateView, self).dispatch(*args, **kwargs)

    def form_valid(self, form):
    form.save()
    item=form.cleaned_data
    #import pdb; pdb.set_trace()
    return JsonResponse(item)

def get(self,request, **kwargs):
    context = {}
    if get_date(request.GET.get('month', None)):
    month_data = get_date(request.GET.get('month', None))
    y=month_data.month
    get_all_details = EmployeeAttendance.objects.filter(date__month=y)
    context['table'] = render_to_string(
        'employee/attendance_update_form.html',
        {'get_all_details': get_all_details},
        request=request)
    return JsonResponse(context)

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $(".attendance-btn").modalForm({
                    formURL: "{% url 'new_attendance' %}"
                });
                $(".profile-btn").each(function () {
                    $(this).modalForm({ formURL: $(this).data("form-url") });
                });
            });
        });
    </script>

{% regroup get_all_details|dictsort:"employee_id" by employee_id as attendance_list %}
{% for x in attendance_list %}
<tr>
    <td>{{ x.grouper }}</td>
    <td>{{ x.list.0.employee }}</td>
    {% for day in days %}
    <td>
        {% for y in x.list %}
        {% if day == y.date %}
        <button class="btn sm success profile-btn" data-url="{% url 'edit_attendance' y.id %}"
            type="button" name="button">{{ y.status }}</button>
        {% endif %}
        {% endfor %}
    </td>
    {% endfor %}
</tr>
{%endfor%}


def attendance_create(request):
    if request.method == 'POST':
        form = AttendanceUpdateForm(request.POST)
    else:
        form = AttendanceUpdateForm()
    return save_attendance_form(request, form, 'attendance/attendance_create_form.html')


def attendance_update(request, pk):
    book = get_object_or_404(EmployeeAttendance, pk=pk)
    if request.method == 'POST':
        form = AttendanceUpdateForm(request.POST, instance=book)
    else:
        form = AttendanceUpdateForm(instance=book)
    return save_attendance_form(request, form, 'attendance/attendance_update_form.html')


{% block extra_script %}
    <script src="{% static 'js/async_script.js' %}"></script>
    <script type="text/javascript">
        var empty = true;
        function tes() {alert("Empty field");}
    
        var tds = document.getElementsByTagName("td");
    
        for (var i in tds) tds[i].onclick = tes;
    </script>
{% endblock %}