<table border="0" cellpadding="0" cellspacing="0" class="calendar">
    <tr>
        <th colspan="7" class="month">August 2022</th>
    </tr>
    <tr>
        <th class="mon">Mon</th>
        <th class="tue">Tue</th>
        <th class="wed">Wed</th>
        <th class="thu">Thu</th>
        <th class="fri">Fri</th>
        <th class="sat">Sat</th>
        <th class="sun">Sun</th>
        <th class="mon">Mon</th>
        <th class="tue">Tue</th>
        <th class="wed">Wed</th>
        <th class="thu">Thu</th>
        <th class="fri">Fri</th>
        <th class="sat">Sat</th>
        <th class="sun">Sun</th>
        <th class="mon">Mon</th>
        <th class="tue">Tue</th>
        <th class="wed">Wed</th>
        <th class="thu">Thu</th>
        <th class="fri">Fri</th>
        <th class="sat">Sat</th>
        <th class="sun">Sun</th>
        <th class="mon">Mon</th>
        <th class="tue">Tue</th>
        <th class="wed">Wed</th>
        <th class="thu">Thu</th>
        <th class="fri">Fri</th>
        <th class="sat">Sat</th>
        <th class="sun">Sun</th>
        <th class="mon">Mon</th>
        <th class="tue">Tue</th>
        <th class="wed">Wed</th>
    </tr>
    <th>
    <td><span class=\'date\'>1</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>2</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>3</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>4</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>5</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>6</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>7</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>8</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>9</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>10</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>11</span>
        <ul>
            <li> <a href="/employees/attendance/2/"> Damodar VIshwakarma-P </a> </li>
            <li> <a href="/employees/attendance/3/"> Test User-P </a> </li>
        </ul>
    </td>
    <td><span class=\'date\'>12</span>
        <ul>
            <li> <a href="/employees/attendance/1/"> Damodar VIshwakarma-A </a> </li>
        </ul>
    </td>
    <td><span class=\'date\'>13</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>14</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>15</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>16</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>17</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>18</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>19</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>20</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>21</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>22</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>23</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>24</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>25</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>26</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>27</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>28</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>29</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>30</span>
        <ul> </ul>
    </td>
    <td><span class=\'date\'>31</span>
        <ul> </ul>
    </td>
    </th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    </th>




    <script type="text/javascript">
        $('.submit_attendance').on('click', function () {
            $.ajax({
                url: '/employees/attendance/',
                method: 'POST',
                data: $('.update_attendance').serialize(),
                beforeSend: function () {
                    // things to do before submit
                },
                success: function (response) {
    
                    alert(response)
                }
            });
            return false;
    
        });
    </script>


def attendance_report(request):
  context = {}
  form = AttendanceForm(request.POST)
  if request.method == 'POST':
    if request.POST.get('month'):
        grab_data_passed = request.POST.get('month')
        import pdb; pdb.set_trace()
        get_details = EmployeeAttendance.objects.filter(date__month=grab_data_passed)
        z=0
        range=9
        days=[]
        if z< range:
            dats = EmployeeAttendance.objects.filter(date__month=grab_data_passed)[z].date
            z+=1
            y=dats.month
            x=dats.year
            cal = calendar.TextCalendar(calendar.WEDNESDAY)
            for day in cal.itermonthdays(x, y):
               days.append(day) 
        context['days']=days
        employee = EmployeeAttendance.objects.all()
        for i in employee:
            x=i.id
            get_details = EmployeeAttendance.objects.filter(employee_id__employee=x, date__month=grab_data_passed)
        context['get_details']=get_details  
        return render(request, 'employee/employee_attendance.html', context)
  context={'form':form}
  return render(request, 'employee/attendance_form.html', context)



  # class EmployeeAttendanceListView(MonthArchiveView):
  #     queryset = EmployeeAttendance.objects.all()
  #     date_field = "date"
  #     date_list_period = 'month'
  #     allow_future = False
  #     template_name = 'employee/employee_attendance.html'
  
  
  #     def get(self, request, *args, **kwargs):
  #       self.date_list, self.object_list, extra_context = self.get_dated_items()
  #       context = self.get_context_data(
  #         object_list=self.object_list,
  #         date_list=self.date_list,
  #         **extra_context
  
  #     )
      
  #     #   import pdb; pdb.set_trace()
  #       return self.render_to_response(context)
  
  
  #     def get_month(self):
  #         try:
  #             month = super(EmployeeAttendanceListView, self).get_month()
  #         except Http404:
  #             month = now().strftime(self.get_month_format())
  
  #         return month
  
  #     def get_year(self):
  #         try:
  #             year = super(EmployeeAttendanceListView, self).get_year()
  #         except Http404:
  #             year = now().strftime(self.get_year_format())
  
  #         return year
  
  
  # class EmployeeAttendanceListView(YearMixin, MonthMixin, BaseDateListView):
  #     """
  #     List of objects published in a given month.
  #     """
  #     date_list_period = 'day'
  
  #     def get_dated_items(self):
  #         """
  #         Return (date_list, items, extra_context) for this request.
  #         """
  #         year = self.get_year()
  #         month = self.get_month()
  
  #         date_field = self.get_date_field()
  #         date = _date_from_string(year, self.get_year_format(),
  #                                  month, self.get_month_format())
  
  #         since = self._make_date_lookup_arg(date)
  #         until = self._make_date_lookup_arg(self._get_next_month(date))
  #         lookup_kwargs = {
  #             '%s__gte' % date_field: since,
  #             '%s__lt' % date_field: until,
  #         }
  
  #         qs = self.get_dated_queryset(**lookup_kwargs)
  #         date_list = self.get_date_list(qs)
  
  #         return (date_list, qs, {
  #             'month': date,
  #             'next_month': self.get_next_month(date),
  #             'previous_month': self.get_previous_month(date),
  #         })
  
  
      
  
  # def calendar(request, month, year):
     
  #     attendance = EmployeeAttendance.objects.group_by('employee_id').filter(
  #       date__year=year, date__month=month
  #     )
  #     cal = Calendar(attendance, year, month).formatmonth(year, month)
  #     return render(request,'employee/employee_attendance.html', {'calendar': mark_safe(cal)})
  
  # class CalendarView(generic.ListView):
  #     model = EmployeeAttendance
  #     template_name = 'employee/employee_attendance.html'
  #     allow_future = False
  #     queryset = EmployeeAttendance.objects.all()
  
  
  #     def get_context_data(self, **kwargs):
  #         context = super().get_context_data(**kwargs)
  #         d = get_date(self.request.GET.get('month', None))
  #         cal = Calendar(d.year, d.month)
  #         html_cal = cal.formatmonth(withyear=True)
  #         context['calendar'] = mark_safe(html_cal)
  #         context['prev_month'] = prev_month(d)
  #         context['next_month'] = next_month(d)
  #         # import pdb; pdb.set_trace()
  #         return context
  
  # def get_date(req_month):
  #     if req_month:
  #         year, month = (int(x) for x in req_month.split('-'))
  #         return date(year, month, day=1)
  #     return datetime.today()
  


  # def prev_month(y):
#     first = y.replace(day=1)
#     prev_month = first - timedelta(days=1)
#     month = 'month=' + str(prev_month.year) + '-' + str(prev_month.month)
#     return month

# def next_month(y):
#     days_in_month = calendar.monthrange(y.year, y.month)[1]
#     last = y.replace(day=days_in_month)
#     next_month = last + timedelta(days=1)
#     month = 'month=' + str(next_month.year) + '-' + str(next_month.month)
#     return month

# class EmployeeAttendanceView(ListView):
#     model = EmployeeAttendance
#     template_name = 'employee/employee_attendance.html'

#     # def get_date(req_month):
#     #    if req_month:
#     #       year, month = (int(x) for x in req_month.split('-'))
#     #       return date(year, month, day=1)
#     #    return datetime.today().month

#     def get(self, request, *args, **kwargs):
#       if get_date(self.request.GET.get('month', None)):
#         grab_data_passed = get_date(self.request.GET.get('month', None))
#         z=0
#         range=32
#         days=[]
#         if z< range:
#             # import pdb; pdb.set_trace()
#             dats = EmployeeAttendance.objects.filter(date__month=grab_data_passed)[z].date
#             days_name = dats.strftime('%A')
#             # import pdb; pdb.set_trace()
#             z+=1
#             y=dats.month
#             x=dats.year
#             cal = calendar.TextCalendar(calendar.WEDNESDAY)
#             for day in cal.itermonthdays(x, y):
#                 days.append(day)
#                 month=dats.strftime('%b')  
#         arg1 = set(days)
#         arg1.remove(0)
#         arg2 = list(arg1)
#         # day_name= ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday']
#         # day = datetime.strptime(date, '%d %m %Y').weekday()
#         # arg3 = day_name[day]
#         context= super(EmployeeAttendanceView, self).get_context_data()
#         context['days']= arg2
#         context['days_name']= days_name
#         context['month'] = month
#         context['year'] = x
#         # import pdb; pdb.set_trace()
#         get_all_details =EmployeeAttendance.objects.filter(date__month=grab_data_passed)
#         context['get_all_details']=get_all_details  
#         import pdb; pdb.set_trace()
#         return render(request, 'employee/employee_attendance.html', context)

# utils.py

# from calendar import HTMLCalendar
# from attendance.models import EmployeeAttendance




# # class Calendar(HTMLCalendar):

#     # def __init__(self, attendance, year=None, month=None):
#     #     self.attendance = self.group_by_day(attendance)
#     #     self.year = year
#     #     self.month = month
#     #     super(Calendar, self).__init__()
    
#     # def formatday(self, day, weekday):
#     #     # import pdb; pdb.set_trace()
#     #     if day != 0:
#     #         cssclass = self.cssclasses[weekday]
#     #         if date.today() == date(self.year, self.month, day):
#     #             cssclass += ' today'
#     #         if day in self.attendance:
#     #             cssclass += ' filled'
#     #             body = ['<table>']
#     #             for attendance in self.attendance[day]:
#     #                 body.append('<tr>')
#     #                 # body.append('<a href="%s">' % attendance.get_absolute_url())
#     #                 body.append(esc(attendance.status))
#     #                 body.append('</tr>')
#     #             body.append('</table>')
#     #             return self.day_cell(cssclass, '%d %s' % (day, ''.join(body)))
#     #         return self.day_cell(cssclass, day)
#     #     return self.day_cell('noday', '&nbsp;')

#     # def formatmonth(self, year, month):
#     #     self.year, self.month = year, month
#     #     return super(Calendar, self).formatmonth(year, month)

#     # def group_by_day(self, attendance):
#     #     field = lambda attendance: attendance.date.day
#     #     return dict(
#     #         [(day, list(items)) for day, items in groupby(attendance, field)]
#     #     )

#     # def day_cell(self, cssclass, body):
#     #     # import pdb; pdb.set_trace()
#     #     return '<td class="%s">%s</td>' % (cssclass, body)

#     # def get_context_data(self, **kwargs):
#     #     context = super(Calendar, self).get_context_data(**kwargs)
#     #     context['current_month'] = datetime.datetime.now().month
#     #     context['current_year'] = datetime.datetime.now().year
#     #     return context

# class Calendar(HTMLCalendar):
# 	def __init__(self, year=None, month=None):
# 		self.year = year
# 		self.month = month
# 		super(Calendar, self).__init__()

# 	def formatday(self, day, attendance):
# 		attendance_per_day = attendance.filter(date__day=day)
# 		d = ''
# 		for attend in attendance_per_day:
# 			d += f'<li> {attend.get_absolute_url} </li>'

# 		if day != 0:
# 			return f"<td><span class='date'>{day}</span><ul> {d} </ul></td>"
# 		return '<td></td>'

# 	def formatweek(self, theweek, attendance):
# 		week = ''
# 		for d, weekday in theweek:
# 			week += self.formatday(d, attendance)
# 		return f'<tr> {week} </tr>'

	
# 	def formatmonth(self, withyear=True):
# 		attendance = EmployeeAttendance.objects.filter(date__year=self.year, date__month=self.month)

# 		cal = f'<table border="0" cellpadding="0" cellspacing="0" class="calendar">'
# 		cal += f'{self.formatmonthname(self.year, self.month, withyear=withyear)}'
# 		cal += f'{self.formatweekheader()}'
# 		for week in self.monthdays2calendar(self.year, self.month):
# 			cal += f'{self.formatweek(week, attendance)}'
# 		return cal